:root {
  --blue: #003A70;
  --lt-blue: #6BA4B8;
  --purple: #981E97;
  --dk-grey: #545859;
  --lt-grey: #ddd;
}


#app-container {
  display: block;
  overflow: auto;
}

/* Navigation bar */
.navbar-default {
  background-color: var(--blue);
  padding-left: 10px;
  margin-bottom: 20px;
}

.navbar-nav > li:not(.active) > a {
    color: white; /* Sets the text color to white for inactive tabs */
}

.navbar-nav > li:not(.active) > a:hover {
    color: white; /* Sets the hover text color to white */
}

/* Make header and footer go to the edges of the page */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

/* Padding around sidebar and main panel */
.tab-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

#main-content {
  flex: 1;  /* Allow the main content to grow to fill the space */
}

/* Sidebar */
.well {
  background-color: var(--blue);
  color: white;
  border: 0px;
  margin-left: 14px;
}

/* Sidebar title */
.responsive-text {
    font-size: 2vw;
}
@media (max-width: 600px) {
    .responsive-text {
        font-size: 3vw; /* Larger on small screens */
    }
}

/* Footer */
#global-footer {
  background-color: var(--blue);
  overflow: hidden;
  height: 60px;  
}

#global-footer img {
  height: 60px;
  margin-top: 00px;
  margin-bottom: 10px;
  margin-left: 20px;
  vertical-align: middle;
}

#global-footer a, #global-footer p {
  color: white;
  margin-top: 20px;
}

#global-footer a:hover {
  background-color: var(--lt-grey);
  color: black;
}

#global-footer a.right-float, #global-footer p.right-float {
  float: right;
  margin-right: 20px;
}

#global-footer {
  margin-top: auto;  
}

/* Links for tab body, Home, About, Contact, and Setup */
#indent a, #indent-home a, .tab-pane a {
    color: var(--purple); /* Change to your desired color */
}

#indent a:visited, #indent-home a:visited, .tab-pane a:visited,
#indent a:hover, #indent-home a:hover, .tab-pane a:hover,
#indent a:active, #indent-home a:active, .tab-pane a:active {
    color: var(--lt-blue); /* Change to your desired color */
}

/* Links for sidebar */
.shiny-panel-conditional a {
  color: var(--lt-blue);
}

.shiny-panel-conditional a:visited,
.shiny-panel-conditional a:hover,
.shiny-panel-conditional a:active {
  color: var(--lt-blue);
}

/* Popup windows */
.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-content {
    background-color: rgba(0, 58, 111, 0.8); /* Blue with 80% transparency */
    color: white;
}

.modal-dialog {
    position: fixed; /* Or 'absolute' depending on your layout */
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    overflow-y: initial
}

/* Buttons */
/* fileInput uses btn-default and doesn't accept class as an argument */
.btn-default {
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn-sidebar {
  color: var(--blue) !important;
  background-color: white;
  width: 100%;
  margin-bottom: 15px;
}

.btn-info {
  color: white;
  background-color: var(--blue);
  border: 2px solid var(--lt-grey);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Help text color */
.help-block {
    color: white;
}

/* Indents about.html, contact.html, setup.html */
#indent {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Indents home tab */
#indent-home {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
}

/* Home sceneario cards */
.scenario {
  background-color: white;
  border: 1px solid var(--dk-grey);
  padding: 14px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 0.5rem;
}

/* Aligns text to top in the card-body of Home scenario cards */
.scenario-body {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align items to the top */
  padding: 14px; /* Adjust padding if needed */
}

/* Buttons on Home scenario cards */
.scenario-btn {
  color: white !important;
  background-color: var(--purple);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border: 1px solid var(--dk-grey);
}

/* Single image cards */
.single-image {
  background-color: white;
  border: 1px solid var(--dk-grey);
  padding: 14px;
  border-radius: 0.5rem;
}

/* Headings for tab body, Home, About, Contact, and Setup */
#indent h3, #indent-home h3, .tab-pane h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--blue);
}

#indent h2, #indent-home h2, .tab-pane h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: var(--purple);
}

#indent h1, #indent-home h1, .tab-pane h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: var(--blue);
}

/* Headings for sidebar */
.shiny-panel-conditional h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: white;
}

.shiny-panel-conditional h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
}

/* Body */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: var(--dk-grey);
}

html, body {
  height: 100%;
}

hr {
  margin: 1rem 0;
  color: var(--dk-grey);
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#indent ol {
    counter-reset: list;
}

#indent ol > li {
    list-style: none;
    position: relative;
}

#indent ol > li:before {
    content: "[" counter(list) "]";
    counter-increment: list;
    left: -40px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    width: 40px;
}